@model RegisterViewModel

<form id="reg-form" method="post" asp-controller="User" asp-action="Register">
    <div id="reg-f" class="row">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="~/resources/img/team-3.jpg"
                             class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo">
                        <div class="card-body p-4 p-md-5" id="form-first-part">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>


                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-outline mb-4">
                                <input type="text" class="form-control" asp-for="FirstName" />
                                <label class="form-label" asp-for="FirstName">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" class="form-control" asp-for="LastName" />
                                <label class="form-label" asp-for="LastName">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" class="form-control" asp-for="Username" />
                                <label class="form-label" asp-for="Username">Username</label>
                                <span asp-validation-for="Username"  class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" class="form-control" asp-for="Email" />
                                <label class="form-label" asp-for="Email">Your Email Address</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">

                                <select asp-for="CityId" class="form-control">

                                    @foreach (var item in Model.Cities)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <label asp-for="CityId" class="form-label">Choose your city:</label>
                            </div>




                            <div class="form-outline mb-4">
                                <input type="" asp-for="Password" class="form-control" />
                                <label class="form-label" for="form3Example1w">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="" asp-for="ConfirmPassword" class="form-control" />
                                <label class="form-label" for="form3Example1w">Confirm Password</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>




                            <button id="reg-proceed" type="button" class="btn btn-success btn-lg mb-1">Proceed</button>

                            <input asp-for="Address" type="text" hidden />
                            <input asp-for="Latitude" type="hidden" />
                            <input asp-for="Longitude" type="hidden" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
</form>
<div id="reg-s" class="container bg-white" style="display:none;height:300px;">

    <div class="col-6 align-self-center">
        <div>
            <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
            <span class="sb-title">Address Selection</span>
        </div>
        <form id="autocomp-support-form">
            <input type="text" id="location-input" />
            <input id="location-input" type="text" hidden />
            <input id="lat" type="hidden" />
            <input id="lng" type="hidden" />
            <button id="map-form-btn" class="btn btn-success btn-lg mb-1" type="submit">Register</button>
        </form>
        
        <p id="marker-info" style="display:none">Drag the marker to a place you most often use to walk your pet.</p>
    </div>
    <div class="map col-6" id="gmp-map"></div>

</div>

<script type="module" src="~/js/register.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@*callback=initMap*@