<div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZa7jwNGAWgJZ-BbsAId3LPB4Id90WJSE&callback=initMap&libraries=marker,places&v=beta"
        defer></script>

<script src="~/js/drawMapWithLocations.js"></script>