html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-bottom:90px;
}

.container {
    /* this is needed or the background will be offset by a few pixels at the top */
    overflow: clip;
    position: relative;
}

    .container::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url('../resources/img/background.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        filter: blur(5px);
    }
.my-class {
    transition: all .2s ease-in-out;
}
 .my-class:hover{
     transform: scale(1.2);
 }

input:focus::placeholder {
    color: transparent;
}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
body {
    margin-top: 20px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    min-height:300px;
    overflow-y: scroll;
    background: rgb(140,134,233);
    background: linear-gradient(180deg, rgba(140,134,233,1) 32%, rgba(24,238,30,1) 83%);
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}
.container-profilepic {
    
}

.photo-preview {
    background-size: cover;
    background-position: center;
}

.middle-profilepic {
    background-color: rgba( 255,255,255, 0.69 );
}

.container-profilepic:hover .middle-profilepic {
    display: flex !important;
    cursor: pointer;
}
#profile-pic{
    height:300px;
    width:300px
}
.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #04AA6D;
    color: white;
}

.round {
    border-radius: 50%;
}